.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
footer li, footer li a{
    color: white;
    text-decoration: none;
  }
  
  #footer_copyright {
    font-size: 10px;
    color: white;
  }
  
  #modalDatenschutz, #modalDatenschutz li{
    color: black;
  }
  #modalDatenschutz a {
    color: blue;
    text-decoration: underline;
  }
  
  #modalImpressum,#modalImpressum li{
    color: black;
  }
  #modalImpressum a{
    color: blue;
    text-decoration: underline;
  }