.form_login{
    width: 100%;
    max-width: 350px;
  }

  .btn-form {
    display: block;
    width: 100%;
  }
.form_login label {
    float: left;
}

footer li, footer li a{
  color: white;
  text-decoration: none;
}

#footer_copyright {
  font-size: 10px;
  color: white;
}

#modalDatenschutz, #modalDatenschutz li{
  color: black;
}
#modalDatenschutz a {
  color: blue;
  text-decoration: underline;
}

#modalImpressum,#modalImpressum li{
  color: black;
}
#modalImpressum a{
  color: blue;
  text-decoration: underline;
}