.form_login{
  width: 100%;
  max-width: 350px;
}
.form_login input[type=email] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
  
.form_login input[type=password] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-form {
  display: block;
  width: 100%;
}

#link_create {
  font-size: smaller;
}
footer li, footer li a{
  color: white;
  text-decoration: none;
}

#footer_copyright {
  font-size: 10px;
  color: white;
}

#modalDatenschutz, #modalDatenschutz li{
  color: black;
}
#modalDatenschutz a {
  color: blue;
  text-decoration: underline;
}

#modalImpressum,#modalImpressum li{
  color: black;
}
#modalImpressum a{
  color: blue;
  text-decoration: underline;
}