.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.features_controls{
  text-align: center;
}

.features_controls button{
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-image {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-position: center;
  background-color: cover;
}

.noHover{
  pointer-events: none;
}

.mt-x {
  margin-top: 80px !important;
}

footer li, footer li a{
  color: white;
  text-decoration: none;
}

#footer_copyright {
  font-size: 10px;
  color: white;
}

#modalDatenschutz, #modalDatenschutz li{
  color: black;
}
#modalDatenschutz a {
  color: blue;
  text-decoration: underline;
}

#modalImpressum,#modalImpressum li{
  color: black;
}
#modalImpressum a{
  color: blue;
  text-decoration: underline;
}
#about-text {
  padding-top: 50px;
}

#kategorien_index {
  padding-top: 30px;
}
